body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
  font-size: 36px;
}

.frame {
  border: 1px solid darkslategray;
  display: flex;
  gap: 40px;
  flex-direction: column;
  width: 350px;
  padding: 15px;
  background-color: lightgray;
  align-items: center;
}
#window {
  width: 310px;
  min-height: 150px;
  border: 1px solid grey;
  background-color: white;
  padding: 10px;
}
#answer {
  color: darkgray;
}

.numpad {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
}
.numbers {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.numbers > #delBtn {
  font-size: 34px;
  background-color: orange;
}

.functions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.numpad button {
  font-size: 36px;
  width: 70px;
  height: 60px;
}
